html
  body
    h1 rock paper scissors game

    h2 player vs machine
    h2(id='record') - 
    h2(id='message') 

    button(id='rockBtn' value='rock') rock
    button(id='paperBtn' value='paper') paper
    button(id='scissorsBtn' value='scissors') scissors 

  script(src='../public/index.js')
