html
  body
    h1 rock paper scissors game

    h2 player vs machine
    h2(id='record') - 
    h2(id='message') - 
  
    h3(id='counterVictories') win: 0
    h3(id='counterDraw') draw: 0
    h3(id='counterLosses') loss: 0
    

    button(id='rockBtn' value='rock') rock
    button(id='paperBtn' value='paper') paper
    button(id='scissorsBtn' value='scissors') scissors 

  script(src='../public/index.js')
